menu "Device Drivers"

source "driver/pmu/Kconfig"

source "driver/twi/Kconfig"

source "driver/hwmsgbox/Kconfig"

source "driver/hdmi/Kconfig"

source "driver/timer/Kconfig"

source "driver/watchdog/Kconfig"

source "driver/ir/Kconfig"

source "driver/dram/Kconfig"

source "driver/intc/Kconfig"

source "driver/smc/Kconfig"

source "driver/ndma/Kconfig"

source "driver/gpio_powerkey/Kconfig"

endmenu
