*.o
*.o.cmd
or32-elf-gcc/
riscv64-elf-x86_64-20201104/
*.dis
*.elf
*.hex
*.bin
*.raw
*.map
*/autoconf.h
*/ram.ld
.config
.config.old
include/generated/
include/config/
tags
cscope.out
scripts/basic/fixdep
